<a href="https://colab.research.google.com/github/dmldatay/NumericalMethods/blob/main/CpE_Programming_101_b_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
By:
    *Datay, Danica Mae L.*
    Â© 2021 

  
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
To store values, variables are nothing but reserved memory locations. This implies that you reserve some memory space when creating a variable [1]. you can store any data types in a variable.

In [ ]:
x = 1
a,b = 0, -1

You can assign values to a variable by using equal sign '='. As you can see the example above, it use equal sign to store 1 to variable x.

In [ ]:
type(x)

int

type() is a function that determines the type of data that store inside the variable. As you can see the example above, the data type of the value stored in variable x is int or integer.

In [ ]:
y = 1.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

As you can see the example above, you can change the data type of the stored value. It changed the int value to float.

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

str

In [ ]:
s_int = int(s)
s_int

0

## Operations

### Arithmetic
Arithmetic or Arithmetic operators are used to perform mathematical operation such as addition, subtraction, multiplication, division, etc., [2]

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

1.5

' + ' is an arithmetic operator that adding 2 or more operands. [2]

In [ ]:
### Subtraction
D = b-d
D

31.5

' - ' is an arithmetic operator that subtract 2 or more operands. [2]

In [ ]:
### Multiplication
P = a*d
P

-64.0

' * ' is an arithmetic operator that multiply 2 or more operands. [2]

In [ ]:
### Division
Q = c/a
Q

0.0

' / ' is an arithmetic operator that divide the first operand to the second operand. [2]

In [ ]:
### Floor Division
Fq = a//b
Fq

-4.0

' // ' is an arithmetic operator that divide the first operand to the second operand. The difference of division to floor division is that the result of floor division is a whole number [2]. If the decimal is 1-4, the answer will rounded off but if the decimal is 5-9, the answer will not rounded off.

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

' ** ' is an arithmetic operator that raise the second operand to the first operand. [2]

In [ ]:
### Modulo
mod = d%a
mod

0.0

' % ' is an arithmetic operator that returns the remainder when first operand is divided by the second operand.

### Assignment Operations
Assignment operators are used to assigning values to existing variable. [3]

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += a
G

2.0

This operator add the value of variable G which is 0 to the value of variable a which is 2.0 then assign the answer to variable G.

In [ ]:
H -= d
H

132

This operator subtract the value of variable H which is 100 to the value of variable d which is -32 then assign the answer to variable H.

In [ ]:
J *= 2
J

4

This operator multiply the value of variable J which is 2 by integer 2 then assign the answer to variable J.

In [ ]:
K **= 2
K

This operator raise the integer 2 to the value of variable K which is 2 then assign the answer to variable K.

### Comparators
The values on each side of them are compared by these operators and the relationship between them is determined. It also called Relational operators [4].

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

'==' is a comparison operator that check the equality of the two operands. As you can see the example above, the answer is True because res_1 and true_val are having the same value.

In [ ]:
## Non-equality
res_2 != true_val

True

'!=' is a comparison operator that check if the values of two operands are not the same. As you can see the example above, The answer is True because res_2 and true_val have different value.

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2  
print(t1)
print(t2)
print(t3)
print(t4)

False
False
True
True

'>' is a comparison operator that check if the left operand is greater than the right operand. t1 is false because res_1 is not grater than the res_2.

'<' is a comparison operator that check if the left operand is less than the right operand. t2 is false because res_1 which is 1 and res_2/2 is also therefore, res_1 is not less that the res_2/2 becauses they are equal.

'>=' is a comparison operator that check if the left operand is greater than or equal to the right operand. t3 is true because res_1 and res_2/2 is equal.

'<=' is a comparison operator that check if the left operand is less than or equal to the right operand. t4 is true because res_1 is less than res_2.

### Logical

Logical operators are used to perform operations on values and variables. These are the special symbols that carry out arithmetic and logical computations. The value the operator operates on is known as Operand. [5]

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

The diffenrence between equality sign '==' and 'is' is that equality sign only check if the value is the same and 'is' check the value and data type at the same time. Integer and float are different to each other therefore the answer above is false.

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

' and ' is a logical operator that will give you an output 'True' if the given input is both true. In layman's term,



1.   true & true = true
2.   true & false = false
3.   false & true = false
4.   false & false = false


As you can see at the example above, the value of variables is True and False, so the given output is Flase.

In [ ]:
p, q = True, False
disj = p or q
disj

True

' or ' is a logical operator that will give you an output 'True' if one or both given input is true. In layman's term,



1.   true & true = true
2.   true & false = true
3.   false & true = true
4.   false & false = false


As you can see at the example above, the value of variables are true and false, so the given output is True.

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

' nand ' is a logical operator that will invert the given value of 'and' give you an output 'False' if the given input is both True. In layman's term,



1.   true & true = false
2.   true & false = true
3.   false & true = true
4.   false & false = true


As you can see at the example above, the value of variables are true and false, so the given output is True. If you will notice, the given list on 'and' operator is inverted on 'nand' operator.

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

'xor' or exclusive-OR is a logical operator that operates in the same way as the logical "either/or." If either, but not both, of the inputs are "true" the output is "true." The output is "false" if both inputs are "false" or if both inputs are "true."

### I/O

In [ ]:
print("Hello World")

Hello World

print() is a function that display the desired output that you want to show. As per example above, Sir Dylan wants to display the string "hello world" and he use print() function to present it.

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello World , Current run count is: 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

This is another type of printing an output. Is is called format string method to look attractive.

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

Using format string to display the weights of semestral grade.

In [ ]:
x = input("enter a number: ")
x

input() is a function that is used to let the user input their desired value.

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

# Looping Statements

## While

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

The while loop is used to iterate over a block of code as long as the test expression (condition) is true [8]. As you can see the example above, the condition is i which is 0 is less than or equal to j which is 10. i is incremented therefore, the loop will come to an end when i will equal to 10.

## For

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal [9]. It will repeat over and over again until it reached the given range. As per the example above, the variable i is repeatedly print until it reached the given range which is 10. the ouput value is on 9 only because 0 is included as 1st range.

In [ ]:
playlist = []
print('Now Playing:\n')
for song in playlist:
    print(song)

# Flow Control

## Condition Statements

In [ ]:
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")
print("Hip hip")

If, elif, and else is a conditional statement that is used for decision making.

# Functions
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
    
def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = 0
delete_user(0)
delete_all_users()

In [17]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

add(1,2)

3

### Lambda Functions
A lambda function is a small anonymous function. It can only have one expression while able to take any number of arguments. [11]

In [ ]:
x = 4

In [ ]:
def f(x):
  return 2*(x*x)-1
f(x)

In [ ]:
g = lambda x: 2*(x*x)-1
print(g(x))

In [ ]:
'''
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

In [43]:
def semgrade(): ##creating a function for computing the sem grade
    w_pg, w_mg, w_fg = 0.3, 0.3, 0.4  ## The weight of grades
    stud_Name = input("Type the students name: ")
    course = input("Type your course: ")
    p_Grade = float(input("Enter prelim grade: "))
    m_Grade = float(input("Enter midterm grade: "))
    f_Grade = float(input("Enter finals grade: "))
    sem_Grade = p_Grade*w_pg+m_Grade*w_mg+f_Grade*w_fg  ##Computation for semestral grade
    print(f"Hello {stud_Name}, your semestral grade is: {round(sem_Grade,2)}") ##F-string type of printing. I use round function to limit the decimal places into 2.
    if (sem_Grade >=71):  ##If the computed grade is greater than or equal to 71, it will print a happy face.
      print("\U0001F600")
    elif (sem_Grade == 70): ##If the computed grade is equal to 70, it will print a laughing face.
      print("\U0001F923")
    else:   ##If the computed grade is less than 70, it will print a sad face
      print("\U0001F619")
semgrade()  ## return value of semgrade.

Type the students name: nica
Type your course: cpe
Enter prelim grade: 75.73
Enter midterm grade: 75.52
Enter finals grade: 75.99
Hello nica, your semestral grade is: 75.77
ð

##Reference
[1] Tutorials Point (2021). [***Python - Variable Types***](https://www.tutorialspoint.com/python/python_variable_types.htm)

[2] GeeksforGeeks (2020). [***GeeksforGeeks: Python Operators***](https://www.geeksforgeeks.org/python-operators/)

[3] GeeksforGeeks (2020). [***GeeksforGeeks: Assignment Operators in Python***](https://www.geeksforgeeks.org/assignment-operators-in-python/)

[4] Tutorials Point (2021). [***Python - Basic Operators***](https://www.tutorialspoint.com/python/python_basic_operators.htm)

[5] GeeksforGeeks (2020). [***GeeksforGeeks: Python Logical Operators with Examples***](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/)

[6] Whatis.com. [***logic gate (AND, OR, XOR, NOT, NAND, NOR and XNOR)***](https://whatis.techtarget.com/definition/logic-gate-AND-OR-XOR-NOT-NAND-NOR-and-XNOR?vgnextfmt=print#xor)

[7] Programiz. [***Python Input, Output and Import***](https://www.programiz.com/python-programming/input-output-import)

[8] Programiz. [***Python while Loop***](https://www.programiz.com/python-programming/while-loop)

[9] Programiz. [***Python for Loop***](https://www.programiz.com/python-programming/for-loop)

[10] w3schools.com (2021). [***Python Functions***](https://www.w3schools.com/python/python_functions.asp#:~:text=A%20function%20is%20a%20block,return%20data%20as%20a%20result.)

[11]  W3 Schools (2021). [***W3 Schools: Python Lambda***](https://www.w3schools.com/python/python_lambda.asp)

[12] Kite. [***How to limit a float to two decimal places in Python***](https://www.kite.com/python/answers/how-to-limit-a-float-to-two-decimal-places-in-python)